body{
    background-color: rgb(212, 168, 168);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1,h2{
    margin-left: 2em;
}
.buttons{
    margin-left: 2em;
}

div{
    background-color: rgb(255, 255, 255);
}

.main-containor{
    border-radius: 10px;
    border: 3px solid black;
    padding: 2em;
}

button{
    align-items: center;
    padding: 10px 3em;
    font-size: 1em;
    font-family: sans-serif;
    background-color: rgb(209, 116, 204);
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgb(206, 55, 55);
    cursor: pointer;
    transition: all 0.5s;
    margin: 1.5em;
   
}
.active, button:hover {
    background-color: rgb(206, 56, 56);
    color: white;
  }
input{
    height: 3em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px black;
    margin: .5em;
}
input:active{
    background-color: rgb(227, 231, 227);   
}